@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');

.title{
    text-align: center;
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 5px;
    font-weight: 700;
    text-shadow: 0 0 5px rgb(209, 57, 57);
}
.link_container{
    text-align: center;
}
.btn{
    color: #f0b05b !important;
    font-family: 'Blinker', sans-serif !important;
}
.search{
    margin-top: 30px;
    border-radius: 50px;
    background: #121212;
    box-shadow: inset 5px 5px 9px #070707, inset -5px -5px 9px #1d1d1d;
    color: #ffffff !important;
    padding: 10px;
}
.searchico{
    padding-right: 5px;
}

@media screen and (max-width: 899px){
    .bottom_nav_root{
        background-color: #121212 !important;
    }
    .bottom_nav_label{
        color: #ffffff !important;
    }
}